.bg {
    background-color: #03345A;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}
.logo a{
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}
.d__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

.bar {
    background-color: white;
    width: 25px;
    height: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navItem__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem__links {
    padding: 0 15px;
}

.navItem__links a {
    color: white;
    font-weight: bold;
}

.navItem__contact {
    display: inline-block;
    margin-right: 0;
}

.navItem__button {
    border: 1px solid white;
    padding: 5px 10px;
}
.btn__none{
    display: none;
}
.contact__btn{
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 8px 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: 1px solid white;
    transition: .4s ease;
}
.contact__btn:hover{
    background: #fff;
    color: #03345A;
}

@media(max-width: 768px) {
    .contact__btn{
        display: none;
    }
    .btn__none{
        display: block;
        padding: .35rem 0;
        text-align: center;
        width: 100%;
        margin: 5px 0;
        border-left: 3px solid #03345A;
        color: #111;
        font-weight: bold;
    }
    .navItem__wrapper {
        position: fixed;
        top: 2.8rem;
        left: -100%;
        width: 100%;
        background-color: #fff;
        z-index: 1;
        transition: all .5s ease;
        flex-direction: column;
        /* text-align: right; */
        padding: 1rem 0;
    }

    .navItem__wrapper.active {
        left: 0;
    }
    .bg{
        padding: 5px 0;
    }
  
    .navItem__links {
        padding: .35rem 0;
        text-align: center;
        width: 100%;
        margin: 5px 0;
        border-left: 3px solid #03345A;
        /* border-bottom: 1px solid gray; */
    }
    .navItem__links a {
        color: #111;
        font-weight: bold;
        padding: 1rem 0;
    }

    .menu {
        display: block;
        cursor: pointer;
    }
    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.active .bar:nth-child(1) {
        --webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3) {
        --webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
    }
}