.bg {
    background-color: blueviolet;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.d__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

.bar {
    background-color: white;
    width: 25px;
    height: 2px;
    border-radius: 15px;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navItem__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem__links {
    padding: 0 15px;
}

.navItem__links a {
    color: white;
    font-weight: bold;
}

.navItem__contact {
    display: inline-block;
    margin-right: 0;
}

.navItem__button {
    border: 1px solid white;
    padding: 5px 10px;
}

@media(max-width: 768px) {
    .navItem__wrapper {
        position: fixed;
        flex-direction: row;
        top: 1.9rem;
        left: -100%;
        width: 100%;
        /* padding: 10px; */
        background-color: rgb(167, 94, 235);
        z-index: 1;
        height: 20%;
        transition: all .5s ease;
    }
    .navItem__wrapper.active {
        left: 0;
    }
    .navItem__links {
        text-align: center;
    }
    .menu {
        display: block;
        cursor: pointer;
    }
    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.active .bar:nth-child(1) {
        --webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .menu.active .bar:nth-child(3) {
        --webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}